.about {
    display: flex;
    align-items: flex-start;
    padding: 40px;    
    background-color: #222222;
}
.about .content {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 5rem;  
    padding: 20px;
    background: rgb(168,238,207);
    background: radial-gradient(circle, rgba(168,238,207,1) 0%, rgba(136,193,185,1) 100%); 
}
.about .content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    color: #222222;
}
.about .content p{
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    margin-top: 0.7rem;
    color: #222222;
}
.about .content ul {
    list-style: none;
    color: #222222;
    padding-left: 0;
}
li {
    margin: 10px 0;
}
.about .image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-direction: column;
    gap: 43px;
}
.about .image img,
.about .image .content {
    width: 100%;
    height: auto;
}
/* Media Queries */
@media (max-width: 1050px) {
    .about{
        flex-direction: column;
    }
    .about .content {
        margin: 0 0 3rem;
    }
}
@media (max-width: 700px) {
    .about .content h1{
        font-size: 48px;
        line-height: 60px;
    }
    .about .content p {
        font-size: 16px;
        line-height: 24px;
    }
}
@media (max-width: 490px) {
    li {
        font-size: 14px;
    }
    .about .content h1{
        font-size: 30px;
        line-height: 48px;
    }
    .about .content p {
        font-size: 14px;
        line-height: 24px;
    }
}
@media (max-width: 321px) {
    li {
        font-size: 12px;
    }
    .about .content h1{
        font-size: 24px;
        line-height: 35px;
    }
    .about .content p {
        font-size: 12px;
        line-height: 24px;
    }
}
